.staff-register-layout{
      border: 2px solid #2872a1;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 30px 6px;
    max-width: 60%;
    padding: 7%;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
   font-family: "Playwrite DE Grund", cursive;
   color: #2872a1;
  font-weight: 300;
  font-style: normal;
}
.staff-register-layout:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 27px rgba(0, 0, 0, 0.45);
}
.staff-register-layout button{
    background-color: #2872a1;
   font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    width: max-content;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    color: #cbdde9;
    transition: all 0.2s ease-in-out;
}
.staff-register-layout button:hover{
    transform: scale(1.1);
}
.staff-register-layout input,select{
    box-shadow: none;
}
.staff-container header{
    height: 200px;
    width: 80%;
    background-color: #2872a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgb(0, 0, 0,0.25);
    margin-left: 7%;
   padding: 20px;
     font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
   transition: all 0.2s ease-in-out;
  color: #cbdde9;
}
.staff-container{
    background-color: #cbdde9;
    margin-left: -10px;
    margin-top: -10px;
    padding: 20px;
}
#staff-reg{
    font-family: "Montez", cursive;
   color: #2872a1;
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
}