*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bgyellow:#EAC23F;
  --bgblack:#1f1c19;
  --bgwhite:white;
  --font1:"Elms Sans", sans-serif;
  --font2:"Nunito", sans-serif;
  --font3: "Google Sans", sans-serif;
  --font4:"Zen Dots", sans-serif;



   --bg-main:#090B12;
 --bg-secondary:#0D1525;
 --card:#1C1F28;

 --bg-gray:#1c1f28a7;

 --primary:#F5C400;
 --primary-hover:#FFD60A;
 --accent:#FFB000;

 --text:#FFFFFF;
 --text-secondary:#C8C8C8;
 --muted:#7A7A7A;

 --black-shadow:2px 4px 8px rgb(0, 0, 0,0.12),
                2px 3px 9px rgb(0, 0, 0,0.12),
                2px 4px 8px rgb(0, 0, 0,0.12),
                2px 4px 8px rgb(0, 0, 0,0.12);
}

